.callout {
  border-left: 10px solid rgb(13, 202, 240);
  border-bottom: solid 1px rgb(13, 110, 253);
  padding: 10px;
}

th {
  width: 200px;
  min-width: 200px;
}

.spam-trap {
  display: none;
}

.navbar-brand {
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
  color: white;
}